### toronto neighborhoods

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup
import re

get the table from url

In [2]:
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html_doc = requests.get(url)

In [3]:
soup=BeautifulSoup(html_doc.text)
raw_table=soup.find('table')

In [4]:
table_col=list(raw_table.find_all('th'))
table_col=list(map(str, table_col))

In [5]:
table_con=list(raw_table.find_all('tr'))
table_con=list(map(str, table_con))

In [6]:
table_col=[a.replace('<th>', '') for a in table_col]
table_col=[a.replace('\n</th>', '') for a in table_col]
table_col

['Postal Code', 'Borough', 'Neighbourhood']

save to dataframe

In [14]:
table=pd.DataFrame(columns=table_col)
postal=[]
borough=[]
neighbour=[]
for each in table_con:
    post=re.findall('<td>(.*)\n', each)
    if len(post)>0:
        postal.append(post[0])
        borough.append(post[1])
        neighbour.append(post[2])

In [15]:
table['Postal Code']=postal
table['Borough']=borough
table['Neighbourhood']=neighbour
table.head(10)

  Postal Code           Borough                                Neighbourhood
0         M1A      Not assigned                                 Not assigned
1         M2A      Not assigned                                 Not assigned
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government
7         M8A      Not assigned                                 Not assigned
8         M9A         Etobicoke      Islington Avenue, Humber Valley Village
9         M1B       Scarborough                               Malvern, Rouge

remove cell with 'Not assigned' Borough

In [16]:
table['Borough']=table['Borough'].replace('Not assigned', np.nan)
table.dropna(axis=0, inplace=True)
table.reset_index(drop=True, inplace=True)
table

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

no cell with 'Not assigned' Neighbourhood

In [17]:
table[table['Neighbourhood']=='Not assigned']

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [18]:
table.shape

(103, 3)